MONGODB_URI=mongodb+srv://andresseverino646:aseverinoi123.A@clusterandress.vfyb0cg.mongodb.net/helpDeskPro
EMAIL_USER=andresseverino646@gmail.com
# EMAIL_PASS=ago ddpf onhx szhk
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=mysupersecretkey123456789mysupersecret


EMAIL_SERVER_HOST=smtp.gmail.com
EMAIL_SERVER_PORT=587
EMAIL_SERVER_USER=andresseverino646@gmail.com
EMAIL_SERVER_PASSWORD=pysb vpsb soie uskv
EMAIL_FROM=noreply@example.com